{template 'common/header_base'}
<title>订单确认</title>
<link rel="stylesheet" type="text/css" href="../addons/sbms/static/css/mobiscroll.custom.min.css" />
<link rel="stylesheet" type="text/css" href="../addons/sbms/template/mobile/common/css/check.css" />
<link rel="stylesheet" type="text/css" href="../addons/sbms/template/mobile/common/css/coupons.css" />
<div id="container">
    <div class="add-order-body">
        <div class="hotal-info">
            <div class="title">{$order['hotal_name']}</div>
            <div class="list"><i class="fa fa-map-marker"></i> {$order['hotal_address']}</div>
            <div class="list"><i class="fa fa-home"></i> 房型：{$order['room_name']}</div>
            <div class="list"><i class="fa fa-bed"></i> 床型：{$order['room_bed']}</div>
            <div class="list"><i class="fa fa-calendar"></i> 入住：<span>{$dt_start}</span> 离店：<span>{$dt_end}</span></div>
        </div>
        <div class="check-in-input">
            <div class="input-line">
                <div class="input-label">房间数</div>
                <div class="input-add">
                    <span class="minus"><i class="fa fa-minus-circle"></i></span>
                    <span class="room-num">{$order['room_num']}间</span>
                    <span class="plus"><i class="fa fa-plus-circle"></i></span>
                </div>
            </div>
            <div class="input-line">
                <div class="input-label">入住人</div>
                <div class="input-add"><input type="text" id="name" name="name" value="{$order['realname']}" placeholder="请填写您的姓名" /></div>
            </div>
            <div class="input-line">
                <div class="input-label">手机号</div>
                <div class="input-add"><input type="number" id="tel" name="tel" value="{$order['mobile']}" placeholder="请填写您的手机号" /></div>
            </div>
            <div class="input-line">
                <div class="input-label">身份证号</div>
                <div class="input-add"><input type="number" id="card" name="card" value="{$order['idcard']}" placeholder="请填写您的身份证号" /></div>
            </div>
            <div class="input-line">
                <div class="input-label">选择到店时间</div>
                <div class="input-add" id="choice_time">
                    <span class="check-date"><input type="text" id="time" name="time" value="{$order['time']}" placeholder="请填写您的到店时间" /></span>
                    <span class="angele-right"><i class="fa fa-angle-right"></i></span>
                </div>
            </div>
        </div>
        <div class="input-detail">
            {loop $order['daymoney'] $item}
            <div class="detail-item">
                <div class="item-name">{$item['title']}</div>
                <div class="item-price">&yen;<i class="day_money" data-price="{$item['money']}">{$item['money']}</i></div>
            </div>
            {/loop}
            <div class="detail-item">
                <div class="item-name">应付金额</div>
                <div class="item-price">&yen;<i class="all_money">{$order['dayallmoney']}</i></div>
            </div>
            <div id="coupons" class="detail-item">
                <div class="item-name">优惠券</div>
                <div class="item-price">&yen;<i class="discount_money">{$order['discountmoney']}</i></div>
            </div>
            <div class="detail-item">
                <div class="item-name">会员折扣</div>
                <div class="item-price">&yen;<i class="level_money">{$order['levelmoney']}</i></div>
            </div>
            <div class="detail-item">
                <div class="item-name">押金</div>
                <div class="item-price">&yen;<i class="deposit_money">{$order['deposit']}</i></div>
            </div>
            <div class="detail-item">
                <div class="item-name">实付房费</div>
                <div class="item-price">&yen;<i class="pay_money">{$order['paymoney']}</i></div>
            </div>
        </div>
    </div>
    <div class="buyorder">
        <input type="hidden" id="rid" value="{$rid}" />
        <input type="hidden" id="start" value="{$dt_start}" />
        <input type="hidden" id="end" value="{$dt_end}" />
        <input type="hidden" id="levelRate" value="{$order['levelrate']}" />
        <input type="hidden" id="days" value="{$order['days']}" />
        <input type="hidden" id="roomPrice" value="{$order['room_price']}" />
        <input type="hidden" id="roomNum" value="{$order['room_num']}" />
        <input type="hidden" id="roomMoney" value="{$order['dayallmoney']}" />
        <input type="hidden" id="discountMoney" value="{$order['discountmoney']}" />
        <input type="hidden" id="levelMoney" value="{$order['levelmoney']}" />
        <input type="hidden" id="payMoney" value="{$order['paymoney']}" />
        <input type="hidden" id="deposit" value="{$order['deposit']}" />
        <input type="hidden" id="couponId" value="0" />
        <div class="paybtn">提交订单</div>
        <span>合计 <t class="order-money">&yen;<i class="pay_money">{$order['paymoney']}</i></t></span>
    </div>
</div>

<div id="modal_pay" class="payment">
    <div class="payment-dialog">
        <div class="dialog-header">支付方式选择<div class="dialog-close"><i class="fa fa-times-circle-o"></i></div></div>
        <div class="dialog-content">
            {if $order['wx_open'] == 1}
            <div class="pay-model" data-model="wechat" data-value="2">
                <div class="check-model-name">微信支付</div>
                <div class="check-model"><i class="fa fa-times-circle"></i></div>
            </div>
            {/if}
            {if $order['zfb_open'] == 1}
            <div class="pay-model" data-model="alipay" data-value="1">
                <div class="check-model-name">支付宝支付</div>
                <div class="check-model"><i class="fa fa-times-circle"></i></div>
            </div>
            {/if}
            {if $order['ye_open'] == 1}
            <div class="pay-model" data-model="credit" data-value="3">
                <div class="check-model-name">余额支付</div>
                <div class="check-model"><i class="fa fa-times-circle"></i></div>
            </div>
            {/if}
            {if $order['dd_open'] == 1}
            <div class="pay-model" data-model="goto" data-value="4">
                <div class="check-model-name">到店支付</div>
                <div class="check-model"><i class="fa fa-times-circle"></i></div>
            </div>
            {/if}
        </div>
        <div class="dialog-footer">确认支付</div>
    </div>
</div>

<div id="modal_coupons" class="coupons-list">
    <div class="coupons-modal-header">
        <div class="modal-back"><i class="fa fa-angle-left"></i></div>
        我的优惠券
    </div>
    <div class="my-coupons"></div>
</div>

<script type="text/html" id="coupons_list">
    <%each list as coupon%>
    <div class="coupon-item-body">
        <div class="coupon-header">
            <div class="coupon-price"><span>&yen;</span><%coupon.cost%></div>
            <div class="coupon-introduce"><%coupon.conditions%></div>
        </div>
        <div class="coupon-body">
            <div class="coupon-title">
                <div class="title"><%coupon.name%></div>
                <%if coupon.seller_id > 0%>
                <div class="own">仅<%coupon.seller_name%>可用</div>
                <%/if%>
            </div>
            <div class="coupon-op">
                <div class="coupon-date"><%coupon.start_time%>至<%coupon.end_time%></div>
                <div class="coupon-btn"><a class="btn btn-primary" href="javascript:void(0);" data-id="<%coupon.id%>" data-price="<%coupon.cost%>">使用</a></div>
            </div>
        </div>
    </div>
    <%/each%>
</script>
<script type="text/html" id="coupons_empty">
    <div class="club-list-empty">
        <div class="empty-item-img"></div>
        <div class="empty-item-text">未找到可用优惠券</div>
    </div>
</script>

<script type="text/javascript" src="../addons/sbms/static/js/mobiscroll.custom.min.js"></script>
<script type="text/javascript">
    require(['core','tpl'],function (core,tpl) {

        var theme = "ios";
        var mode = "scroller";
        var display = "bottom";
        var lang="zh";

        $('.minus').click(function () {
            var num = parseInt($('#roomNum').val());
            if(num > 1){
                --num;
                $('#roomNum').val(num);
                $('.room-num').html(num + "间");
                setPayMoney();
            }
        });
        $('.plus').click(function () {
            var num = parseInt($('#roomNum').val());
            ++num;
            $('#roomNum').val(num);
            $('.room-num').html(num + "间");
            setPayMoney();
        });
        $('#time').mobiscroll().time({
            theme: theme,
            mode: mode,
            display: display,
            lang: lang
        });
        
        function setPayMoney() {
            var days = parseInt($('#days').val());
            var num = parseInt($('#roomNum').val());
            var price = parseFloat($('#roomPrice').val());
            var discount = parseFloat($('#discountMoney').val());
            var level = parseFloat($('#levelRate').val());
            var deposit = parseFloat($('#deposit').val());
            var allMoney = 0;
            $('.day_money').each(function () {
                 var price = parseFloat($(this).data('price'));
                 var money = price * days;
                 allMoney += money;
                 $(this).html(parseFloat(money).toFixed(2));
            });

            var depositMoney = num * deposit;
            var levelMoney = allMoney * level / 100 * -1;
            var orderMoney = allMoney + levelMoney - discount + depositMoney;

            $('.all_money').html(parseFloat(allMoney).toFixed(2));
            $('.discount_money').html(parseFloat(discount).toFixed(2));
            $('.level_money').html(parseFloat(levelMoney).toFixed(2));
            $('.pay_money').html(parseFloat(orderMoney).toFixed(2));
            $('.deposit_money').html(parseFloat(depositMoney).toFixed(2));

            $('#discountMoney').val(parseFloat(discount).toFixed(2));
            $('#levelRate').val(parseFloat(levelMoney).toFixed(2));
            $('#roomMoney').val(parseFloat(allMoney).toFixed(2));
            $('#payMoney').val(parseFloat(orderMoney).toFixed(2));
        }

        $('.paybtn').click(function () {
            //if($(this).attr('submitting') == '1'){    return;}
            //$(this).attr('submitting','1').html('提交中...');
            $('#modal_pay').show();
        });

        $('.pay-model').click(function () {
            $('.pay-model').children('div').removeClass('on');
            $('.pay-model').find('i').removeClass('fa-check-circle').addClass('fa-times-circle');
            $(this).children('div').addClass('on');
            $(this).find('i').removeClass('fa-times-circle').addClass('fa-check-circle');
        });

        $('.dialog-footer').click(function () {
            if($(this).attr('submitting') == '1'){  return;}
            //验证
            var realname = $('#name').val();
            if(realname == ''){
                core.tip.show('请填写入住人姓名');
                return;
            }
            var tel = $('#tel').val();
            if(tel == ''){
                core.tip.show('请填写手机号码');
                return;
            }
            if(!tel.match(/^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/)){
                core.tip.show('手机号格式不正确');
                return;
            }
            var card = $('#card').val();
            if(card == ''){
                core.tip.show('请填写身份证号码');
                return;
            }
            //var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
            if(!card.match(/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/)){
                core.tip.show('身份证格式不正确');
                return;
            }
            var time = $('#time').val();
            if(time == ''){
                core.tip.show('请选择到店时间');
                return;
            }

            var model = '';
            $('.pay-model').each(function () {
                if($(this).children('div').hasClass('on')){
                    model = $(this).data('value');
                }
            });

            if(model == ''){
                core.tip.show('请选择支付方式');
                return
            }

            $(this).attr('submitting', '1');

            var params = new Object();
            params.rid = $('#rid').val();
            params.dt_start = $('#start').val();
            params.dt_end = $('#end').val();
            params.realname = realname;
            params.tel = tel;
            params.idcard = card;
            params.time = time;
            params.allmoney = $('#roomMoney').val();
            params.discount = $('#discountMoney').val();
            params.levelmoney = $('#levelMoney').val();
            params.ordermoney = $('#payMoney').val();
            params.payment = model;
            params.num = $('#roomNum').val();
            params.couponid = $('#couponId').val();

            core.json('order/confirm', params, function (json) {
                $(this).removeAttr('submitting');
                var result = json.result;
                if(json.status == 1){
                    var orderId = result.orderid;
                    var ordersn = result.ordersn;
                    var type = result.payment;
                    if(type == 1){  //支付宝
                        core.json('order/pay', {op:'pay', type:'alipay', orderid:orderId},function (rjson) {
                            if(rjson.status != 1){
                                core.tip.show(rjson.result);
                                return;
                            }
                            location.href = core.getUrl('order/pay_alipay',{orderid:orderId});
                            return;
                        },true,true);
                    }else if(type == 2){ //微信
                        core.json('order/pay', {op:'pay', type:'wechat', orderid:orderId},function (rjson) {
                            if(rjson.status != 1){
                                core.tip.show(rjson.result);
                                return;
                            }
                            var wechat = rjson.result.wechat;
                            WeixinJSBridge.invoke('getBrandWCPayRequest', {
                                'appId': wechat.appid ? wechat.appid : wechat.appId,
                                'timeStamp': wechat.timeStamp,
                                'nonceStr': wechat.nonceStr,
                                'package': wechat.package,
                                'signType': wechat.signType,
                                'paySign': wechat.paySign,
                            }, function (res) {
                                if (res.err_msg == 'get_brand_wcpay_request:ok'){
                                    core.json('order/pay', {
                                        op:'complete',
                                        orderid: orderId,
                                        type:'weixin'
                                    },function (pay_json) {
                                        if(pay_json.status==1){
                                            core.tip.show(pay_json.result);
                                        }
                                        core.tip.show(pay_json.result);
                                    },true,true);
                                }
                            })
                        },true,true);

                    }else if(type == 4){ //到店
                        core.json('order/pay', {op:'complete', type:'cash', orderid:orderId}, function (res) {
                            if(res.status != 1){
                                core.tip.show(res.result);
                                return;
                            }
                            location.href = core.getUrl('order/detail', {orderid:orderId});
                            return;
                        },true,true);
                    }else if(type == 3){ //余额
                        core.json('order/pay', {op:'complete', type:'credit', orderid:orderId},function (res) {
                            if(res.status == 1){
                                core.message(res.result.msg,"{php echo $this->createMobileUrl('order/detail')}&orderid=" + orderId,"success");
                                return;
                            }else{
                                core.tip.show(res.result);
                                return;
                            }
                        },true,true);
                    }
                }else{
                    core.tip.show(result);
                }
            },true,true);
        });

        $('.dialog-close').click(function () {
            $('#modal_pay').hide();
        });

        var w = screen.width;
        var h = screen.height;
        $('.coupons-list').css({width:w,height:h,left:w});

        $('#coupons').click(function () {
            core.json('member/query', {op:'coupons',seller_id:"{$order['hotal_id']}"}, function (res) {
                if(res.result.list.length > 0){
                    $('.my-coupons').html(tpl('coupons_list', res.result));
                }else{
                    $('.my-coupons').html(tpl('coupons_empty'));
                }
                $('#modal_coupons').animate({left:0},1000);

                $('.btn-primary').unbind('click').click(function () {
                    var id = $(this).data('id');
                    var price = $(this).data('price');
                    $('#couponId').val(id);
                    $('#discountMoney').val(price);
                    setPayMoney();
                    $('.coupons-list').animate({left:w},1000);
                });

            },true,true);
        });

        $('.modal-back').click(function () {
            $('.coupons-list').animate({left:w},1000);
        });
    });
</script>

{template 'common/footer'}