{template 'common/header_base'}
<link rel="stylesheet" type="text/css" href="../addons/sbms/template/mobile/common/css/home.css" />
<link rel="stylesheet" type="text/css" href="../addons/sbms/template/mobile/common/css/detail.css" />
<div id="container">
    <div class="page-header-bg"></div>
    <div class="home-body">
        <div class="home-box">
            <div class="page-hotal-info">
                <div class="page-hotal-img"><img src="{php echo tomedia($hotal['ewm_logo'])}" class="img-rounded" /></div>
                <div class="page-hotal-dec">
                    <div class="hotal-dec-name">{$hotal['name']}</div>
                    <div class="hotal-dec-item"><i class="address-mark"></i>地址：{$hotal['address']}</div>
                    <div class="hotal-dec-item"><i class="tel-mark"></i>电话：{$hotal['tel']}</div>
                </div>
            </div>
            <div class="home-date">
                <div id="check_date_in" class="check-date in">
                    <div class="date-input">{$dt_start}</div>
                    <div class="date-input-title">入住日期</div>
                </div>
                <div id="check_date_out" class="check-date out">
                    <div class="date-input">{$dt_end}</div>
                    <div class="date-input-title">退房时间</div>
                </div>
            </div>
            <div class="home-day padding-bottom-10">
                <div class="check-date" style="flex: 2; border-bottom: solid 1px #dedede;"></div>
                <div class="check-day">
                    <span class="days">{$days}</span>天
                </div>
                <div class="check-date" style="flex: 2; border-bottom: solid 1px #dedede;"></div>
            </div>
        </div>
        <div class="page-nav-list">
            <div class="nav-list-item {if $tp == 'list'}on{/if}" data-type="list">房型列表</div>
            <div class="nav-list-item {if $tp == 'introduce'}on{/if}" data-type="introduce">民宿详情</div>
            <div class="nav-list-item {if $tp == 'evaluate'}on{/if}" data-type="evaluate">民宿评价</div>
        </div>
        <div class="home-hotal-list"></div>
    </div>
</div>

<!-- 房间列表 -->
<script type="text/html" id="room_list">
    <%each list as room%>
    <div class="room-list-item" data-id="<%room.id%>">
        <div class="room-item-img"><img src="<%room.img%>" class="img-rounded" /></div>
        <div class="room-item-list">
            <div class="title-show"><%room.name%></div>
            <div class="list-item-li">剩余房间：<%room.num%> 间</div>
            <div class="list-item-li">床型：<%room.size%></div>
            <div class="list-item-li">可住人数：<%room.people%></div>
        </div>
        <div class="room-item-price">
            <div class="price"><span>&yen;</span><%room.price%></div>
            <div class=""><a class="btn btn-check-in" href="{php echo $this->createMobileUrl('house', array('p' => 'check', 'dt_start' => $dt_start, 'dt_end' => $dt_end))}&id=<%room.id%>">预订</a></div>
        </div>
    </div>
    <%/each%>
</script>

<!-- 民宿详情 -->
<script type="text/html" id="hotal_info">
    <div class="hotal-details">
        <div class="details-title">民宿详情</div>
        <div class="details-list">
            <div class="details-list-item">民宿名称：<%hotal.name%></div>
            <div class="details-list-item">民宿地址：<%hotal.province%><%hotal.city%><%hotal.area%><%hotal.address%></div>
            <div class="details-list-item">联系电话：<%hotal.tel%></div>
            <div class="details-list-item">办理时间：<%hotal.open_time%></div>
        </div>
        <div class="details-title">酒店服务</div>
        <div class="details-service">
            <div class="details-service-item">
                <%if hotal.wake == 1%>
                <div class="service-img"><i class="open_clock"></i></div>
                <div class="service-name-open">叫醒服务</div>
                <%else%>
                <div class="service-img"><i class="off_clock"></i></div>
                <div class="service-name">叫醒服务</div>
                <%/if%>
            </div>
            <div class="details-service-item">
                <%if hotal.wifi == 1%>
                <div class="service-img"><i class="open_wifi"></i></div>
                <div class="service-name-open">免费wifi</div>
                <%else%>
                <div class="service-img"><i class="off_wifi"></i></div>
                <div class="service-name">免费wifi</div>
                <%/if%>
            </div>
            <div class="details-service-item">
                <%if hotal.water == 1%>
                <div class="service-img"><i class="open_hot"></i></div>
                <div class="service-name-open">热水</div>
                <%else%>
                <div class="service-img"><i class="off_hot"></i></div>
                <div class="service-name">热水</div>
                <%/if%>
            </div>
            <div class="details-service-item">
                <%if hotal.park == 1%>
                <div class="service-img"><i class="open_stop"></i></div>
                <div class="service-name-open">停车</div>
                <%else%>
                <div class="service-img"><i class="off_stop"></i></div>
                <div class="service-name">停车</div>
                <%/if%>
            </div>
        </div>
        <div class="details-service">
            <div class="details-service-item">
                <%if hotal.breakfast == 1%>
                <div class="service-img"><i class="open_zc"></i></div>
                <div class="service-name-open">早餐</div>
                <%else%>
                <div class="service-img"><i class="off_zc"></i></div>
                <div class="service-name">早餐</div>
                <%/if%>
            </div>
            <div class="details-service-item">
                <%if hotal.unionPay == 1%>
                <div class="service-img"><i class="open_yl"></i></div>
                <div class="service-name-open">银联</div>
                <%else%>
                <div class="service-img"><i class="off_yl"></i></div>
                <div class="service-name">银联</div>
                <%/if%>
            </div>
            <div class="details-service-item">
                <%if hotal.gym == 1%>
                <div class="service-img"><i class="open_jsf"></i></div>
                <div class="service-name-open">健身房</div>
                <%else%>
                <div class="service-img"><i class="off_jsf"></i></div>
                <div class="service-name">健身房</div>
                <%/if%>
            </div>
            <div class="details-service-item">
                <%if hotal.boardroom == 1%>
                <div class="service-img"><i class="open_hys"></i></div>
                <div class="service-name-open">会议室</div>
                <%else%>
                <div class="service-img"><i class="off_hys"></i></div>
                <div class="service-name">会议室</div>
                <%/if%>
            </div>
        </div>
    </div>
</script>

<!-- 民宿评价 -->
<script type="text/html" id="hotal_evaluate">

</script>

<script type="text/html" id="room_empty">
    <div class="club-list-empty">
        <div class="empty-item-img"></div>
        <div class="empty-item-text">对不起，房间已全部被预订。</div>
    </div>
</script>

<script type="text/javascript">
    var loading = false;
    var stop = true;
    var params = new Object();
    params.dt_start = '{$dt_start}';
    params.dt_end = '{$dt_end}';
    params.id = '{$id}';
    params.tp = '{$tp}';

    require(['core','tpl'], function (core,tpl) {
        runJson();
        function bindMore() {
            $(window).scroll(function () {
                if(loading){    return;}
                var totalHeight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
                if($(document).height() <= totalHeight){
                    if(stop){
                        stop = false;
                        $('.home-hotal-list').append('<div class="list-laoding"><i class="fa fa-spinner fa-spin"></i>正在加载更多商品</div>');
                        if(params.page == '' || params.page == 'undefined'){
                            params.page = 1;
                        }
                        params.page ++ ;
                    }
                    getMoreRooms();
                }
            });
        }

        function getMoreRooms() {
            core.json('house/detail', params, function (res) {
                if(res.status == 1){
                    $('.list-laoding').remove();
                    $('.home-hotal-list').append(tpl('room_list', res.result));
                    if(res.result.list.length < res.result.pageCount){
                        $('.home-hotal-list').append('<div class="list-laoding">已加载全部民宿</div>');
                        loading = true;
                        $(window).scroll = null;
                        return;
                    }
                    stop = true;
                }
            },true,true);
        }

        $('.nav-list-item').click(function () {
            $('.nav-list-item').removeClass('on');
            $(this).addClass('on');
            params.tp = $(this).data('type');
            params.page = 1;
            runJson();
        });

        function runJson() {
            core.json('house/detail', params, function (res) {
                if(params.tp == 'list'){
                    if(res.status == 1){
                        loading = false;
                        params.page = 1;
                        $('.home-hotal-list').html(tpl('room_list', res.result));
                        if(res.result.list.length <= 0){
                            loading = true;
                            $(window).scroll = null;
                            $('#home-hotal-list').html(tpl('room_empty'));
                            return;
                        }
                        stop = true;
                        bindMore();
                    }else{
                        loading = true;
                        $(window).scroll = null;
                        $('.home-hotal-list').html(tpl('room_empty'));
                    }
                }else if(params.tp == 'introduce'){
                    if(res.status == 1){
                        loading = true;
                        $(window).scroll = null;
                        $('.home-hotal-list').html(tpl('hotal_info',res.result));
                    }
                }else if(params.tp == 'evaluate'){

                }
            },true,true);
        }
    });
</script>

{template 'common/footer'}