{template 'common/header_base'}
<div id="container">
    <div class="homestay-header"></div>
    <div class="homestay-body">
        <div class="hotal-card">
            <div class="hotal-info">
                <div class="hotal-info-img"><img src="{$house['ewm_logo']}" style="width: 2rem; height: 2rem;" /></div>
                <div class="hotal-info-list">
                    <div class="hotal-info-name">{$house['name']}</div>
                    <div class="hotal-info-item">

                    </div>
                    <div class="hotal-info-item">

                    </div>
                </div>
            </div>
            <div class="hotal-check-in"></div>
        </div>
    </div>
</div>
{template 'common/footer'}