{template 'common/header_base'}
<title>合作加盟</title>
<link rel="stylesheet" type="text/css" href="../addons/sbms/template/mobile/common/css/member.css" />
<div id="container">
    <form method="post" enctype="multipart/form-data">
        <div class="join-body">
            <div class="input-line">
                <div class="input-title">民宿名称</div>
                <div class="input-control"><input type="text" name="name" placeholder="请输入民宿名称" /></div>
            </div>
            <div class="input-line">
                <div class="input-title">所在地区</div>
                <div class="input-control"></div>
            </div>
            <div class="input-line">
                <div class="input-title">具体地址</div>
                <div class="input-control"></div>
            </div>
            <div class="input-line">
                <div class="input-title">联系人</div>
                <div class="input-control"><input type="text" name="link_name" placeholder="请输入民宿联系人" /></div>
            </div>
            <div class="input-line">
                <div class="input-title">民宿电话</div>
                <div class="input-control"><input type="text" name="tel" placeholder="请输入民宿电话" /></div>
            </div>
            <div class="input-line">
                <div class="input-title">民宿星级</div>
                <div class="input-control">
                    <select></select>
                </div>
            </div>
        </div>
        <div class="join-body">
            <div class="join-body-title">上传营业执照和身份证正反面</div>
            <div class="img-body">
                <div class="img"><img src=""></div>
                <div class="img"><img src=""></div>
                <div class="img"><img src=""></div>
            </div>
        </div>
    </form>
</div>
{template 'common/footer'}