{template 'common/header_base'}
<title>发现列表</title>
<link rel="stylesheet" type="text/css" href="../addons/sbms/template/mobile/common/css/discovery.css" />
<div id="container">
    <div class="discovery-list"></div>
</div>
<script type="text/html" id="discovery_list">
<%each list as dis%>
<div class="discovery-body" data-id="<%dis.id%>">
    <div class="discovery-img"><img src="<%dis.log%>"></div>
    <div class="discovery-title"><%dis.title%></div>
    <div class="discovery-info">
        <div class="author"><img src="<%dis.thumb%>" style="width: 30px; height: 30px;" />&nbsp;<%dis.name%></div>
        <div class="browse"><i class="fa fa-eye"></i>&nbsp;<%dis.browse%></div>
        <div class="likes"><i class="fa fa-thumbs-up">&nbsp;</i><%dis.likes%></div>
    </div>
</div>
<%/each%>
</script>
<script type="text/html" id="discovery_empty">
<div class="club-list-empty">
    <div class="empty-item-img"><i class="fa fa-meh-o"></i></div>
    <div class="empty-item-text">未找到发现</div>
</div>
</script>
<script type="text/javascript">
    require(['core','tpl'], function (core,tpl) {
        var loadding = false;
        var stop = true;
        var page = 1;
        core.json('discovery/list', {page:page}, function (res) {
            if(res.status != 1){
                loading = true;
                $(window).scroll = null;
                $('.discovery-list').html(tpl('discovery_empty'));
                return;
            }
            $('.discovery-list').html(tpl('discovery_list', res.result));
            if(res.result.list.length <= 0){
                $('.discovery-list').html(tpl('discovery_empty'));
                return;
            }
            stop = true;
            bindEvents();
            bingMore();
        },true,true);

        function bindEvents() {
            $('.discovery-img').unbind('click').click(function () {
                location.href = core.getUrl('discovery/detail', {id:$(this).parent('div.discovery-body').data('id')});
                return;
            });
            $('.likes').unbind('click').click(function () {
                var obj = $(this);
                var id = $(this).parent('div').parent('div.discovery-body').data('id');
               core.json('discovery/list',{op:'likes',id:id},function (jres) {
                   if(jres.status != 1){
                       core.tip.show('操作失败');
                       return;
                   }
                   obj.html('<i class="fa fa-thumbs-up"></i>&nbsp;' + jres.result);
               },true,true)
            });
        }

        function bingMore() {
            $(window).scroll(function () {
                if(loadding){ return;}
                var totalHeight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
                if($(document).height() <= totalHeight){
                    if(stop){
                        stop = false;
                        $('.discovery-list').append('<div class="list-laoding"><i class="fa fa-spinner fa-spin"></i>正在加载更多发现</div>');
                        if(page == '' || page == 'undefined'){
                            page = 1;
                        }
                        page ++;
                    }
                    core.json('discovery/list', {page:page}, function (res) {
                        if(res.status == 1){
                            $('.list-laoding').remove();
                            $('.discovery-list').append(tpl('discovery_list', res.result));
                            if(res.result.list.length < res.result.pagesize){
                                $('.discovery-list').append('<div class="list-laoding">已加载全部订单</div>');
                                loadding = true;
                                $(window).scroll = null;
                                return;
                            }
                            stop = true;
                        }

                        bindEvents();
                    });
                }
            });
        }
    })
</script>
{template 'common/footer'}